# ignore some idea config files
.idea/workspace.xml
.idea/vcs.xml
.idea/uiDesigner.xml

# ignore files that pull down from google source
.repo
libcore
pdk
packages
hardware
frameworks
development
docs
external
art
abi
ndk
build
developers
dalvik
bionic
bootable
tools
system
prebuilts
device
sdk
libnativehelper
cts
Makefile